<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
    Code and logic for QR code were taken from a Reintech article provided by our TA
        https://reintech.io/blog/implementing-android-app-qr-code-scanner
    -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <!-- Used for location services -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WalrusEvents">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".activity.MapsActivity"
            android:exported="true"
            android:label="@string/title_activity_maps">
        </activity>
        <activity
            android:name=".activity.UViewWaitlistActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.OEventsActivity"
            android:exported="true" />
        <activity
            android:name=".activity.OEventPoolActivity"
            android:exported="true" />
        <activity
            android:name=".activity.OEventEditActivity"
            android:exported="true" />
        <activity
            android:name=".activity.UEventsActivity"
            android:exported="true" />
        <activity
            android:name=".activity.UEventDetailsActivity"
            android:exported="true"/>
        <activity
            android:name=".activity.USettingsActivity"
            android:exported="true"/>
        <activity
            android:name=".activity.QRCodeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UQRCodeScannerActivity"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".activity.AdminHubActivity"
            android:exported="true"/>
        <activity
            android:name=".activity.AdminAllProfilesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AdminInspectProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AdminAllCommentsActivity"
            android:exported="false" />
        <activity android:name=".activity.AdminAllImagesActivity"
            android:exported="false"/>
        <activity android:name=".activity.AdminAllEventsActivity"
            android:exported="false"/>
        <activity
            android:name=".activity.AdminAllNotificationsActivity"
            android:exported="false" />
    </application>

</manifest>